.row {
  margin-right: -10px;
  margin-left: -10px;
}
.chat {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  /* border-bottom: 1px dotted #B3A9A9; */
}

.chat li.left .chat-body {
  margin-left: 60px;
}

.chat li.right .chat-body {
  margin-right: 60px;
}

.chat li .chat-body p {
  margin: 0;
  color: #777777;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px;
}

.panel-body {
  overflow-y: auto;
  overflow-x: hidden;
  height: 450px !important;
  padding-left: 4% !important;
  padding-right: 4% !important;
}

.chat-list-panel-body {
  overflow-y: auto;
  overflow-x: hidden;
  height: 550px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #f0f4f8;
}

.chats-panel {
  margin-bottom: 5px !important ;
  border: 0 !important;
}

.messages-panel {
  margin-bottom: 5px !important ;
  border: 0px !important;
}
/* 
.chat-panel-heading {
  weight: 75px  !important;  
  background-color: #f0f4f8  !important;
} */

.no-padding-right {
  padding-right: 0px !important ;
}
.xs-padding-left {
  padding-left: 5px !important ;
}

.btn-send-messsage {
  background-color: #f4aa42 !important;
  float: right !important;
  width: auto !important;
}
.refresh-btn {
  float: right;
}

.search-input {
   margin-top: 5px;
  /* padding-bottom: 5px !important; */
  margin-left: -10px !important;
  margin-right: -10px !important;
}

.chat-list {
  /* background-color: #f5f5f57c !important; */
  /* background-color: #F0F4F8 !important; */
}

ul.chat-list {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.resize-none {
  resize: none;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #97c9f5;
}
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active-warning > a,
.nav-sidebar > .active-warning > a:hover,
.nav-sidebar > .active-warning > a:focus {
  color: rgb(80, 80, 80) !important;
  font-weight: 600 !important;
  background-color: #dbf4fd !important;
  /* color: rgb(224, 0, 0) !important;
  font-weight: 600 !important;
  background-color: #dbf4fd !important; */
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: rgb(80, 80, 80) !important;
  font-weight: 600 !important;
  background-color: #dbf4fd !important;
}

.new-message {
  animation: fading 2s;
  animation-iteration-count: 1;
}
@keyframes fading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.new-message .glyphicon-time {
  color: red;
  animation: fading 5s;
  animation-iteration-count: 1;
}
@keyframes fading {
  0% {
    color: white;
  }
  50% {
    color: orangered;
  }
  100% {
    color: red;
  }
}

.user-dropdown-menu {
  min-width: 350px !important;
  padding: 0px 0 !important;
}

.user-checkbox {
  background-color: #f5f5f5 !important;
  border: none !important;
}

.xs-user-li {
  min-height: 27px;
  margin-left: 30px;
}

.unread-message-count {
  padding-left: 3px;
  padding-right: 3px;  
  float: right;
  /* margin: 0px;
  border: 1px; 
  border-style: solid; */
  border-radius: 15px;
  background-color: #F44336;
  color: white;

  font-weight: bold;
  font-size: medium;
  animation: fading 2s;
  animation-iteration-count: 1;
}
@keyframes fading {
  0% {
    background-color: white;
  }
  50% {
    background-color: rgb(255, 118, 118);
  }
  100% {
    background-color: #F44336;
  }
}
.hidden {
  display: none;
}

.send-new-message-box {
  /* padding-right: 15px; */
  /* padding-left: 15px; */
}

.chat-list-title {
  font-weight: bold;
  font-size: large;
  text-align: center;
  /* background-color: aqua */
}
.seach-chat {
  /* position:fixed */
}

.miidle-message-block {
  /* border-bottom: 1px solid rgb(226, 220, 220) */
  /* border-bottom: 1px dotted #B3A9A9; */
  /* border-bottom: #777777 */
}

.message-author {
  font-size: smaller !important;
  color: grey !important;
}

.my-message-author {
  text-align: right !important;
  font-size: smaller !important;
  color: grey !important;
}
.message-text-block {
  display: inline-block !important;
  max-width: 75% !important;
  background: #f2f6f9 !important; /* Цвет фона */
  padding: 15px !important; /* Поля вокруг текста */
  margin-bottom: 10px !important; /* Отступ снизу */
  border-radius: 8px !important;
}

.my-message-text-block {
  float: right !important;
  max-width: 75% !important;
  display: inline-block;
  align-content: right;
  text-align: right;
  background: #dbf4fd !important; /* Цвет фона */
  padding: 15px !important; /* Поля вокруг текста */
  margin-bottom: 1px !important; /* Отступ снизу */
  border-radius: 8px !important;
}
.small-chat-text {
  color: grey !important;
  font-size: 19px;
}

.last-message-text-in-sm-chat {
  margin-top: 3px !important;
  margin-left: 3px !important;
  color: grey !important;
  font-weight: 400;
  font-size: 12px !important;
}

.message-picture {
  padding: 2px;
  max-height: 125px !important;
  min-height: 125px !important;
  min-width: 100px !important;
  border-radius: 10px;
  background: transparent url("../../theme/images/loading32.gif") no-repeat
    scroll center center;
}

.message-picture:hover {
  padding: 0px;
  border-color: #00ffff;
  border-width: 2px;
  border-style: solid;
}

.right-side-message {
  float: right;
}

.left-side-message {
  float: left;
}

.small-user {
  height: 35px;
  padding-left: 10px;
  font-size: 16px;
}

.add-users-panel-heading {
  /* height: 55px !important; */
  background-color: #4280f4ee !important;
}

.search-users-input {
  padding-top: 7px !important;
  width: 300px;
  /* margin-left: -10px !important; */
  /* margin-right: -10px !important; */
}
.add-users-panel-bottom {
  float: right;
  padding: 3px;
}

.user-name-to-add {
  vertical-align: text-top;
  padding-left: 5px;
}

.checker-img-users-list {
  height: 30px;
  padding-right: 10px;
}

.chat-list-grid {
  display: grid;
}

.user-list-submit-selection {
  float: right !important;
  color: #515050 !important;
  background-color: #ffffff !important ;
  font-weight: 400 !important;
  font-size: 18px !important;
}

.small-chat-text-warning {
  font-size: 19px;
}

.search-chats-text {
  height: 45px !important;
  font-size: 28px !important;
  text-align: center !important;
  font-weight: 600 !important;
  border-radius: 15px !important;
}

.search-chats-text:focus {
  font-size: 28px !important;
  /* text-align: center !important; */
  font-weight: 600 !important;
  background: linear-gradient(to right, #0079d4, #00b9f1) !important;
  background-color: #1f345cee !important;
  color: rgb(255, 255, 255) !important;
}

.search-chats-text:focus::placeholder {
  font-size: 28px !important;
  text-align: center !important;
  font-weight: 600 !important;
  /* background-color: #4280f4ee  !important;  */
  color: #4db0e8 !important;
}

.chat-title-container:hover {
  background-color: white !important;
  color: black !important;
  cursor: pointer;
}

.add-file-icon {
  max-height: 52px;
  max-width: 52px;
  position: absolute;
  right: 20px;
  top: 18px;
  opacity: 0.5;
}
.add-file-icon:hover {
  opacity: 1;
}
.avatar-in-message {
  height: 50px !important;
  width: 50px !important;
  max-width: 50px !important;
  max-height: 50px !important;
  /* border: 1px !important;
  border-color: gray !important;
  border-style: solid !important; */
}

.avatar-in-users-list {
  /* padding: 1px; */
  height: 30px !important;
  width: 30px !important;
  max-width: 30px;
  max-height: 30px;
  /* border: 1px !important;
  border-color: rgb(201, 201, 201) !important;
  border-style: solid !important; */
  background: transparent url("../../theme/images/loading32.gif") no-repeat
    scroll center center;
}

.title-chat-name {
  /* text-align: right !important; */
  /* padding-top: -5px !important; */
  padding-bottom: 10px !important;
}

.title-chat-name-text {

  font-size: 24px !important;
  white-space: nowrap !important;
  color: #2b2c33 !important;
}

.title-chat-list-text {
  font-size: 16px !important;
  white-space: nowrap !important;
  color: #2b2c33 !important;
}

.chats-panel-heading {
  height: 100px !important;
  /* background-color: #4280f4ee !important; */
  background-color: #f0f4f8 !important;
  border: 0 !important;
  /* border-color: #f0f4f8 */
}

.messages-panel-heading {
  height: 100px !important;
  /* background-color: #4280f4ee !important; */
  background-color: #ffffff !important;
  border-color: #dadadc !important;
  /* border:0px !important */
}
/* #326794 */

.title-btn {
  color: #fff;
  background-color: #f0f4f8;
  /* border-color: #2e6da4; */
}
.new-message-textarea {
  margin-top: 25px !important;
  height: auto !important;
  border-radius: 20px !important;
  border: 0 !important;
  background-color: #f0f4f8 !important;
  font-size: 19px !important;
}

.chats-list-title {
  background-color: #f0f4f8 !important;
  color: gray;
  font-size: 11px;
  font-weight: 600;
  padding-top: 5px;
  padding-left: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(202, 202, 202);
}

.type-chat-text-in-sm-chat-red {
  position: absolute;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 10px;
  background-color: red;
  border-radius: 5px;
  right: 20px;
  bottom: 2px;
  opacity: 0.5;
  color: white;
}
.type-chat-text-in-sm-chat-green {
  position: absolute;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 10px;
  background-color: green;
  border-radius: 5px;
  right: 20px;
  bottom: 2px;
  opacity: 0.5;
  color: white;
}
.title-user-list-button {
  color: darkslategray !important;
  font-weight: 600 !important;
  font-size: 15px;
}

.loading-messages-indicator {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.user-info-medium-container{
  /* position: absolute;   */
  margin-top:-7px;
  top: 2px;
  color: gray !important; 
}
.user-info-medium-container-autor-name{
  vertical-align: center;
  padding-left: 5px;
  font-size: 14px;
  color: #2e2e2e;
  /* white-space:nowrap; */
  
}
.xs-padding-left {
  padding-left: 0px !important;
}