.row {
  margin-right: -10px;
  margin-left: -10px;
}
.chat {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  /* border-bottom: 1px dotted #B3A9A9; */
}

.chat li.left .chat-body {
  margin-left: 60px;
}

.chat li.right .chat-body {
  margin-right: 60px;
}

.chat li .chat-body p {
  margin: 0;
  color: #777777;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px;
}

.panel-body {
  overflow-y: auto;
  overflow-x: hidden;
  height: 450px;
}

.chat-list-panel-body {
  overflow-y: auto;
  overflow-x: hidden;
  height: 550px;
  padding-right: 10px;
  padding-left: 10px;
}

.chats-panel {
  margin-bottom: 5px !important ;
}

.messages-panel {
  margin-bottom: 5px !important ;
}

.chat-panel-heading {
  height: 55px !important;
  background-color: #4280f4ee !important;
}

.no-padding-right {
  padding-right: 0px !important ;
}
.xs-padding-left {
  padding-left: 5px !important ;
}

.btn-send-messsage {
  background-color: #f4aa42 !important;
  float: right !important;
  width: auto !important;
}
.refresh-btn {
  float: right;
}

.search-input {
  padding-bottom: 5px !important;
  margin-left: -10px !important;
  margin-right: -10px !important;
}

.chat-list {
  background-color: #f5f5f57c !important;
}

ul.chat-list {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.resize-none {
  resize: none;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #97c9f5;
}
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active-warning > a,
.nav-sidebar > .active-warning > a:hover,
.nav-sidebar > .active-warning > a:focus {
  color: rgb(224, 0, 0) !important;
  font-weight: 600 !important;
  background-color: #dbf4fd !important;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: rgb(80, 80, 80) !important;
  font-weight: 600 !important;
  background-color: #dbf4fd !important;
}

.new-message {
  animation: fading 2s;
  animation-iteration-count: 1;
}
@keyframes fading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.new-message .glyphicon-time {
  color: red;
  animation: fading 5s;
  animation-iteration-count: 1;
}
@keyframes fading {
  0% {
    color: white;
  }
  50% {
    color: orangered;
  }
  100% {
    color: red;
  }
}

.user-dropdown-menu {
  min-width: 350px !important;
  padding: 0px 0 !important;
}

.user-checkbox {
  background-color: #f5f5f5 !important;
  border: none !important;
}

.xs-user-li {
  min-height: 27px;
  margin-left: 30px;
}

.unread-message-count {
  float: right;
  font-weight: bold;
  color: darkred;
  font-size: medium;
  animation: fading 5s;
  animation-iteration-count: 1;
}
@keyframes fading {
  0% {
    color: white;
  }
  50% {
    color: orangered;
  }
  100% {
    color: darkred;
  }
}
.hidden {
  display: none;
}

.in-one-row {
  white-space: nowrap;
}

.send-new-message-box {
  /* padding-right: 15px; */
  /* padding-left: 15px; */
}

.chat-list-title {
  font-weight: bold;
  font-size: large;
  text-align: center;
  /* background-color: aqua */
}
.seach-chat {
  /* position:fixed */
}

.miidle-message-block {
  /* border-bottom: 1px solid rgb(226, 220, 220) */
  /* border-bottom: 1px dotted #B3A9A9; */
  /* border-bottom: #777777 */
}

.message-author {
  font-size: smaller !important;
  color: grey !important;
}

.my-message-author {
  text-align: right !important;
  font-size: smaller !important;
  color: grey !important;
}
.message-text-block {
  display: inline-block !important;
  max-width: 75% !important;
  background: #f2f6f9 !important; /* Цвет фона */
  padding: 15px !important; /* Поля вокруг текста */
  margin-bottom: 10px !important; /* Отступ снизу */
  border-radius: 8px !important;
}

.my-message-text-block {
  float: right !important;
  max-width: 75% !important;
  display: inline-block;
  align-content: right;
  text-align: right;
  background: #dbf4fd !important; /* Цвет фона */
  padding: 15px !important; /* Поля вокруг текста */
  margin-bottom: 10px !important; /* Отступ снизу */
  border-radius: 8px !important;
}
.small-chat-text {
  color: grey !important;
}

.last-message-text-in-sm-chat {
  margin-top: 3px !important;
  margin-left: 3px !important;
  font-size: smaller !important;
  color: grey !important;
  font-weight: 400;
}

.message-picture {
  padding: 2px;
  max-height: 125px !important;
  border-radius: 10px;
}
.message-picture:hover{
  padding: 0px;
  border-color: #00ffff;
  border-width: 2px;
  border-style: solid;
  
}

.right-side-message {
  float: right;
}

.left-side-message {
  float: left;
}

.small-user {
  height: 35px;
  padding-left: 10px;
  font-size: 16px;
}

.add-users-panel-heading {
  /* height: 55px !important; */
  background-color: #4280f4ee !important;
}

.search-users-input {
  padding-top: 7px !important;
  width: 300px;
  /* margin-left: -10px !important; */
  /* margin-right: -10px !important; */
}
.add-users-panel-bottom {
  float: right;
  padding: 3px;
}

.user-name-to-add {
  vertical-align: text-top;
  padding-left: 5px;
}

.checker-img-users-list {
  height: 30px;
  padding-right: 10px;
}

.chat-list-grid {
  display: grid;
}

.user-list-submit-selection {
  float: right !important;
  color: #515050 !important;
  background-color: #ffffff !important ;
  font-weight: 400 !important;
  font-size: 18px !important;
}

.small-chat-text-warning {
  background-color: rgb(231, 222, 222) !important;
  /* font-size: 17px; */
  color: rgb(206, 105, 105) !important;
}

.search-chats-text {
  font-size: 28px !important;
  text-align: center !important;
  font-weight: 600 !important;
}

.search-chats-text:focus {
  font-size: 28px !important;
  text-align: center !important;
  font-weight: 600 !important;
  background-color: #1f345cee !important;
  color: rgb(255, 255, 255) !important;
}

.search-chats-text::placeholder {
  font-size: 28px !important;
  text-align: center !important;
  font-weight: 600 !important;
  /* background-color: #4280f4ee  !important;  */
  color: rgb(224, 221, 221) !important;
}

.chat-title-container{  
}

.chat-title-container:hover{ 
  background-color:white !important;
  color: black!important;   
  cursor:pointer;
}

.add-file-icon{
  max-height:52px;
  max-width:52px;  
  position: absolute;
  right :20px;
  top:18px;
  opacity: 0.5;
}
.add-file-icon:hover{
   opacity: 1
}



